.form
{
    color: brown;
}
.heading
{
    font-size: 10px;
    padding-left: 40%;
}
.grid-container
{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
}
.item1
{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-row-gap: 30px;
    
}
.item2
{
    display: grid;
    grid-template-columns: auto auto;
    border-style: solid;
    border-color: rgb(112, 38, 38);
    
}

.item11
{
    border-style: solid;
    background-color: rgb(112, 38, 38);
    border-color: rgb(112, 38, 38);
}
.container
{
    margin: 5%;
    padding: 3%;
    background-color: aliceblue;
    border-radius: 3%;
}